/* nav bar txt stying   */
.menu {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
}

/* slider btn  */
.btn-s {
  padding: 9px 18px;
  gap: 10px;
  border-radius: 4px;
  background: #f85559;
  color: #fff;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
}

/* slider writing part  */

/* why choose us section style st  */
.ellipes {
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1212121a;
  border-radius: 50%;
}

/* why choose us section style end  */